{% extends "base.html.twig" %}

{% block css %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src={{ asset("/JS/date-data/code.js") }} ></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script type="text/javascript" src={{ asset("/JS/calendarJquery/code.js") }} ></script>

{% endblock %}

{% block logo %}
        <img src="/img/janex_logo.png" width="250" height="150" alt="Janex_logo" id="logo_principal"/></p>
{% endblock %}
{% block body %}
        
        {{ form_start(form) }}
        {{ form_errors(form) }}
            {{ form_row(form.nombre) }}
            {{ form_row(form.mail) }}
            {{ form_row(form.telf) }}
            {{ form_row(form.fecha) }}
            {{ form_row(form.horario) }}

            <button type="submit" class="button" id="enviar">Enviar</button>

        {{ form_end(form) }}

            
{% endblock %}