{% extends "base.html.twig" %}

{% block css %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css"
{% endblock %}

{% block javascript %}
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script type="text/javascript" src={{ asset("/JanexMotors/JS/autocompleteJquery/code.js") }} ></script>
<script type="text/javascript" src={{ asset("/JanexMotors/JS/contact/code.js") }} ></script>
{% endblock %}

{% block logo %}
        <img src="/JanexMotors/img/janex_logo.png" width="250" height="150" alt="Janex_logo" id="logo_principal"/></p>
{% endblock %}

{% block body %}

    <p>En este apartado podras enviarnos un mensaje con cualquier consulta que nos quieras hacer o cualquier
         duda que te haya surgido viendo nuestra página web. Recuerda que si lo que quieres es concertar una cita,
          debes acudir a la página "CONCERTAR CITA" que se encuentra al final del menú lateral.
    </p>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="dosColumnas">
            {{ form_row(form.nombre) }}
            {{ form_row(form.mail) }}
            {{ form_row(form.telf) }}
            {{ form_row(form.ciudad) }}
        </div>
            {{ form_row(form.mensaje) }}
            <button type="submit" class="button" id="enviar">Enviar</button>
            
            <button type="reset" class="button" id="borrar">Reset</button>
        {{ form_end(form) }}
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3057.485985767061!2d-0.06885172315200781!3d39.9752435751051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6000ae86282c99%3A0xc6b21b77a502a0b8!2sC.%20de%20Portugal%2C%2067%2C%2012006%20Castell%C3%B3n%20de%20la%20Plana%2C%20Castell%C3%B3n!5e0!3m2!1ses!2ses!4v1644218877807!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
{% endblock %}