{% extends "base.html.twig" %}

{% block javascript %}
<script type="text/javascript" src="/JS/contact/code.js" ></script>
{% endblock %}

{% block logo %}
        <img src="img/janex_logo.png" width="250" height="150" alt="Janex_logo" id="logo_principal"/></p>
{% endblock %}

{% block body %}

    <p>En este apartado podras enviarnos un mensaje con cualquier consulta que nos quieras hacer o cualquier
         duda que te haya surgido viendo nuestra página web. Recuerda que si lo que quieres es concertar una cita,
          debes acudir a la página "CONCERTAR CITA" que se encuentra al final del menú lateral.
    </p>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="dosColumnas">
            {{ form_row(form.nombre) }}
            {{ form_row(form.mail) }}
            {{ form_row(form.telf) }}
            {{ form_row(form.ciudad) }}
        </div>
            {{ form_row(form.mensaje) }}
            <button type="submit" class="button" id="enviar">Enviar</button>
            
            <button type="reset" class="button" id="borrar">Reset</button>
        {{ form_end(form) }}
{% endblock %}