{% block css %}
<link rel="stylesheet" href={{ asset("/JanexMotors/css/carousel.css") }} type="text/css"/>
{% endblock %}

{% for moto in motos %}
    
{% endfor %}

<section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <li  id="{{moto.alias}}__slide1" tabindex="0" class="carousel__slide">
    <img src="/JanexMotors{{moto.img | split('.')|slice(0,-1)|join}}.png" width="800px" height="500px" alt="{{moto.nombre}}"/>
      </li>
    
    <li  id="{{moto.alias}}__slide2" tabindex="1" class="carousel__slide">
    <img src="/JanexMotors{{moto.img | split('.')|slice(0,-1)|join}}_02.png" width="800" height="500" alt="{{moto.nombre}}"/>
      </li>

    <li  id="{{moto.alias}}__slide3" tabindex="2" class="carousel__slide">
    <img src="/JanexMotors{{moto.img | split('.')|slice(0,-1)|join}}_03.png" width="800" height="500" alt="{{moto.nombre}}"/>
      </li>

    <li id="{{moto.alias}}__slide4" tabindex="3" class="carousel__slide">
    <img src="/JanexMotors{{moto.img | split('.')|slice(0,-1)|join}}_04.png" width="800" height="500" alt="{{moto.nombre}}"/>
      </li>

  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="/JanexMotors#{{moto.alias}}__slide1"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="/JanexMotors#{{moto.alias}}__slide2"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="/JanexMotors#{{moto.alias}}__slide3"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="/JanexMotors#{{moto.alias}}__slide4"
           class="carousel__navigation-button">Go to slide 4</a>
      </li>
    </ol>
  </aside>
</section>

